/* Fix for ACF Photo Gallery plugin's stretched-out thumbnails */
.acf-photo-gallery-metabox-list li {
	height: 150px !important;
	width: auto !important;
}
.acf-photo-gallery-metabox-list li.acf-photo-gallery-media-box-placeholder {
	height: 150px !important;
	width: 150px !important;
}
.acf-photo-gallery-metabox-list li img {
	height: 150px;
	width: auto !important;
}